.info-message {
  &__info {
    color: $white-60;
    display: block;
    font-size: $xs-size-r;
    font-style: italic;
    letter-spacing: 0.15em;

  }
  & a&__info:hover,
  & a&__info:focus, {
    color: $white-60;
  }

  // Helper Classes
  &.brighter {
    filter: brightness(125%);
  }
}

.featured-message {
  color: $featured-message-color;
  font-size: 21px;
  font-size: 2.1rem;
}

.latest-news.featured-message {
  margin-bottom: $xl-size;

  & blockquote {
    text-shadow: 0 0 40px rgba($pure-white, 0.3);
  }
}
