a {
  -webkit-transition: color .1s ease-in, opacity .1s ease-in;
     -moz-transition: color .1s ease-in, opacity .1s ease-in;
       -o-transition: color .1s ease-in, opacity .1s ease-in;
          transition: color .1s ease-in, opacity .1s ease-in;
}