// Variables

// Colors
$pure-black: #000000;
$off-black: #1b1b1b;
$pure-white: #fff;
$off-white: #dcdcdc;
$white-60: #999;

// Specific Colors
$featured-message-color: rgba(255, 255, 255, 0.4);

// Spacing
$xxs-size: .4rem;
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Relative Spacing
$xxs-size-r: .4em;
$xs-size-r: .8em;
$s-size-r: 1.2em;
$m-size-r: 1.6em;
$l-size-r: 3.2em;
$xl-size-r: 4.8em;

// Youtube
$youtube-homepage-columns: 3;
